*	{ margin:0; padding:0; }
body { 
    overflow-y:scroll !important;
    font:13px/1.5 Helvetica,arial,sans-serif;
    background:#ccc url(../images/bg-pattern.png);
}
a	{ text-decoration:none; }

#wrapper {
    width:550px; margin:40px auto 80px auto;
    border: 1px solid #fff; -webkit-box-shadow: #404040 0 5px 10px;
    background-color:#FFF;
    -webkit-border-radius:5px;
}

#header {
    position:relative; /* for logo position */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eceff5));
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    border-bottom: 1px solid #ddd;
}
#header h1 {
    /*background: url(../images/logo-half.png) 7px 14px no-repeat;*/
    margin:0;
    line-height: 40px;
    text-indent: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #5d758a;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
}
#header h1::before {
    content:'';
    position:absolute; bottom:0; right:10px;
    width:48px; height:24px;
    background:url(../images/logo-half.png) 0 -24px;
}

#options {
    padding: 30px 10px 10px 10px;
    position:relative;
}
#options fieldset {
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom:20px; padding: 10px;
}
#options fieldset legend{
    color: #999;
    font-size: 15px;
    padding: 0 5px;
}
#options fieldset input[type=checkbox]{
    margin-right:5px;
    float:left;
    margin-top: 3px;
}

#options fieldset#format input[type=radio], #options fieldset#delay_sec input[type=radio] {
    margin-left:5px;
}

#options fieldset#format label, #options fieldset#delay_sec label {
    margin-right:15px;
}

#menu_shortcuts tr td:last-child::before {
    content:'Ctrl + Shift + ';
}
#menu_shortcuts tr td.input_tip:last-child::after {
    content:'[A-Z, 0-9]'; color:red; border:1px solid blue; border-radius:5px;
}
#menu_shortcuts tr td.input_conflict_tip:last-child::after {
    content:'Shortcut Conflict'; color:red; border:1px solid blue; border-radius:5px;
}
#menu_shortcuts tr td:last-child input[type=text] {
    margin-left:5px;
}

#tip {
    display:none;
    position:absolute; top:0; left: 0;
    font-size: 12px;
    padding: 5px 0;
    width:100%; text-align:center;
    background-color: green;
    font-weight: bold;
    color: #fff;
}
#tip.error {
    background-color: red;
    color: #fff;
}

#action_panel {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#eceff5));
    border-top: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: right;
    padding: 6px 10px;
}
#action_panel input{
    padding: 5px 10px;
}
#action_panel input[value=Reset] { float:left; }
#action_panel input[value=Save] {
    font-weight: 700;
    padding: 5px 10px;
    margin-right: 5px;
}

#shortcuts_table {
    margin-left: 5px;
    text-align:  left;
}

#shortcuts_table tr{
}

#shortcuts_table td{
    padding-right: 40px;
    padding-bottom: 10px;
}

#shortcuts_table select {
    margin-left: 5px;
}
#shortcuts_table select[disabled] {
	color:#BBB;
}

#localPath button{
    padding: 2px 4px;
}

#filePath{
    height: 18px;
    color: #999;
    padding: 0px 4px;
}

.notify {
    margin-bottom: 10px;
    padding: 10px;
    background: #F9EDBE;
    border: 1px solid #F0C36D;
}

.notify a:hover {
    text-decoration: underline;
}
